body {
  background-color: #fcfcf7;
}

.grid {
  display: grid;
  grid-gap: 1em;
}

/*.card {
  border: 0.1em lightgray solid;
}*/

#card1 {
  grid-area: 1 / 1 / span 20 / span 40;
}

#card2 {
  grid-area: 1 / 40 / span 20 / span 20;
}

#card3 {
  grid-area: 21 / 1 / span 20 / span 40;
}

#card4 {
  grid-area: 21 / 40 / span 20 / span 20;
}

#card5 {
  grid-area: 41 / 1 / span 5 / span 40;
}

#card6 {
  grid-area: 41 / 40 / span 5 / span 20;
}

.subcard {
  margin: 2em;
  /*border: 0.1em lightgray dashed;*/
}

#subcard1, #subcard2, #subcard3 {
  text-align: center;
  font-family: 'Kanit', "Arial", sans-serif;
  line-height: 1.5em;
  font-size: 1.1em;
}

#subcard1 img {
  border-radius: 50%;
}

#subcard3 li {
  margin-top: 0.5em;
}

#subcard4 {
  height: 37.5em;
  border: 0.1em #b2b3aa solid;
  border-radius: 3%;
}

#subcard5 {
  text-align: justify;
  font-family: 'Kanit', "Arial", sans-serif;
  line-height: 1.8em;
  font-size: 1.1em;
}

#subcard6 {
  text-align: left;
  font-family: 'Kanit', "Arial", sans-serif;
  line-height: 1.8em;
  font-size: 1.1em;
}

#subcard7 {
  text-align: left;
  font-family: 'Kanit', "Arial", sans-serif;
  line-height: 1.5em;
  font-size: 1.1em;
}

#javascript {
  font-family: "Arial", sans-serif;
  line-height: 1.8em;
  text-align: center;
}

/*responsive*/

@media only screen and (min-width: 1500px) {
  #subcard4, #subcard6, #subcard7 {
    float: left;
  }
}

@media only screen and (min-width: 730px) {
  #twitter {
    display: none;
  }
}

@media only screen and (max-width: 730px) {
  #card2, #card5, #card6 {
    display: none;
  }
  #card4 {
    grid-area: 41 / 1 / span 20 / span 40;
  }
}

@media only screen and (max-width: 610px) {
  #card1, #card2, #card3, #card4 {
    grid-column: 1 / span 20;
  }
}

@media only screen and (max-width: 320px) {
  #card1, #card2, #card3, #card4 {
    grid-column: 1 / span 10;
  }
}
